.stat-grid {
  display: flex;
  gap: var(--space-5);
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .stat-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .stat-grid {
    grid-template-columns: 1fr;
  }
}
